<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [16]:
# your code goes here
df_duplicates = df[df.duplicated()]
print(len(df_duplicates))

print(df_duplicates.shape[0])

154
154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [18]:
# your code goes here
df= df.drop_duplicates()

Verify if duplicates were actually dropped.

In [23]:
# your code goes here
df_duplicated = df.duplicated()
print(df_duplicated.head())
print(len(df_duplicated))

0    False
1    False
2    False
3    False
4    False
dtype: bool
11398

## Finding Missing values

Find the missing values for all columns.

In [34]:
# your code goes here
dic = []
null_values_df = df.isnull()
for column in null_values_df.columns:

      null_values = null_values_df[column].value_counts()


      dic.append({"Column_Names": column, "Null_Values": null_values})


summary_df = pd.DataFrame(dic)
summary_df.head()

  Column_Names                                        Null_Values
0   Respondent      False    11398
Name: Respondent, dtype: int64
1   MainBranch      False    11398
Name: MainBranch, dtype: int64
2     Hobbyist        False    11398
Name: Hobbyist, dtype: int64
3  OpenSourcer     False    11398
Name: OpenSourcer, dtype: int64
4   OpenSource  False    11317
True        81
Name: OpenSource...

Find out how many rows are missing in the column 'WorkLoc'

In [40]:
# prompt: Find out how many rows are missing in the column 'WorkLoc'

missing_workloc_rows = df['WorkLoc'].isnull().sum()
print(f"Number of missing rows in WorkLoc: {missing_workloc_rows}")

Number of missing rows in WorkLoc: 32

In [38]:
# your code goes here
summary_df.set_index("Column_Names", inplace = True)

summary_df.loc["WorkLoc", "Null_Values"]

False    11366
True        32
Name: WorkLoc, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [44]:
# prompt: Find the value counts for the column WorkLoc.

print(df['WorkLoc'].value_counts())

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [45]:
# your code goes here
WorkLoc_value_count = df["WorkLoc"].value_counts()
WorkLoc_value_count

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [48]:
# prompt: Identify the value that is most frequent (majority) in the WorkLoc column.

most_frequent_workloc = WorkLoc_value_count.index[0]
most_frequent_workloc

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [50]:
# your code goes here
df["WorkLoc"] = df["WorkLoc"].fillna(most_frequent_workloc)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [51]:
# your code goes here
null_values = df["WorkLoc"].isnull().sum()
null_values

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [54]:
# your code goes here
compfreq_values = df["CompFreq"].value_counts()
compfreq_values

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [55]:
# Define a function to normalize the compensation based on CompFreq
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # Handle other cases if needed

# Apply the function to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

In [ ]:
# your code goes here
#Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

#If the CompFreq is Yearly then use the exising value in CompTotal
#If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
#If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).